<!--<%= @articles.inspect %>-->

<!-- inspect es para inspeccionar un objeto>-->

<% @articles.each do |article| %>
    <h1><%= link_to article.title, article  %></h1>
    <div>
        <%= article.body %> - <%= link_to "Eliminar", article, data: { "turbo-method": :delete }, class:"red"%>
    </div>
<%end%>
