<!--<%= @articles.inspect %>-->

<!-- inspect es para inspeccionar un objeto>-->

<% @articles.each do |article| %>
    <h1><%= article.title  %></h1>
    <div>
        <%= article.body %>
    </div>
<%end%>
