html, body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.be-red{
    background-color: #e74c3c
}

.white{
    color: #ecf0f1;
}

.large-padding{
    padding: 8px 5px;
}
a,a:visited{
    color: inherit;
    text-decoration: none;
}
.no-margin{
    margin: 0px;
}
#logo{
    font-size: 1.2em;
}